.Rule {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 12;
    background: rgba(0, 0, 0, .56);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    img {
        display: block
    }
    .ruleconnent {
        width: 93vw;
        position: relative;
        transform-origin: center;
        .ruletitle {
            width: 100%;
            text-align: center;
            font-size: 4.8vw;
            font-family: FZLanTingHeiS-B-GB;
            font-weight: 700;
            color: #fff;
            position: absolute;
            top: 2vw;
            left: 0;
            letter-spacing: .5vw;
        }
        .allRules {
            width: 100%;
        }
        .ruleclose {
            width: 9vw;
            height: 9vw;
            margin: 4vw auto 0;
        }
    }
    .ruleConnentActive {
        animation: AlertAni .2s ease-in 1 forwards;
    }
    @keyframes AlertAni {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
    }
}